#!/bin/bash

. /etc/holidaysh/inc

curdate=`GetDayAndMonth`
temdate=`GetParamDayAndMonth`
#echo "$curdate $temdate"
if [ $curdate == $temdate ]; then
  name=`GetParam 2`
  temyear=`GetParamYear`
  echo "День рождения у $name, исполняется `HowOld`"
else
  exit 0
fi
