#!/bin/bash

. /etc/holidaysh/inc

curdate=`GetDayAndMonth`
temdate=`GetParamDayAndMonth`

if [ $curdate == $temdate ]; then
  name=`GetParam 2`
  temyear=`GetParamYear`
  X="День рождения у $name"
  if [ "`HowOld`" != "0" ]; then
    X="$X, исполняется `HowOld`"
  fi
  EchoText $X
else
  exit 0
fi
