#!/bin/bash

. /etc/holidaysh/inc

curdate=`GetDayAndMonth`
temdate=`GetParamDayAndMonth`
if [ $curdate == $temdate ]; then
  time=`GetParam 2`
  task=`GetParam 3`
  if [ `FindParam speech` -eq 1 ]; then
    time="`echo $time | sed \"s/:/ /g\"`"
    echo "Сегодня в $time тебе нужно $task"
  else
    echo "Сегодня в $time тебе нужно $task"
  fi
else
  exit 0
fi
